*
{
	font-family: Verdana;
	font-size: 12px;
}

body
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}
input
{
	font-size: 12px;
}

.clear
{
	clear: both;
}
.hidden
{
	display: none;
}

a:link, a:visited, a:active
{
	color: #006000;
	text-decoration: none;
}
a:hover
{
	color: #000;
	text-decoration: underline;
}

/*大框架*/
#chat
{
	width: 97%;
	margin: auto;
}

.introduce
{
	width: 97%;
	margin: auto;
	border: #92b0dd 1px solid;
	color: #333;
	margin-bottom: 10px;
}
.introduce h5
{
	background-color: #e2eaf8;
	height: 24px;
	font-size: 12px;
	padding-top: 6px;
	text-indent: 10px;
	margin: 0px;
}
.introduce p
{
	padding: 5px 5px 5px 5px;
	background-color: #fff;
	margin: 0px;
}

/*提示信息*/
.tip
{
	border: #d3d3d3 1px solid;
	background-color: #f7f7f7;
	margin: 0px auto 10px;
	padding: 10px;
}

/*对方信息*/
.umsg
{
	border: #adcd3c 1px solid;
	margin-bottom: 10px;
	background-color: #f2fddb;
}
.umsg h5
{
	font-weight: bold;
	font-size: 12px;
	padding: 6px 10px 6px 10px;
	background-color: #D8E7A2;
	color: #55651A;
	margin: 0px;
}
.umsg p
{
	margin: 0px;
	padding: 10px;
	line-height: 140%;
	background-color: #f2fddb;
}
.umsg p.packed
{
	margin: 0px;
	padding: 10px;
	line-height: 140%;
	background-color: #f2fddb;
}

.umsg div.tip
{
	background-color: #BBD65E;
	padding: 5px;
	margin-bottom: 0px;
}

.umsg div.tip ul
{
	padding: 0px;
	margin: 0px;
	list-style-position: inside;
}

.umsg input
{
	border: 1px solid #86A129;
	background-color: #86A129;
	color: #fff;
	padding: 0px 2px 0px 2px;
}

/*我的信息*/
.mmsg
{
	border: 1px solid #91A4DF;
	margin-bottom: 10px;
	background-color: #DBE5FF;
}
.mmsg h5
{
	font-weight: bold;
	font-size: 12px;
	padding: 6px 10px 6px 10px;
	background-color: #B9CDFF;
	color: #3A61C5;
	margin: 0px;
}
.mmsg p
{
	margin: 0px;
	padding: 10px;
	line-height: 140%;
}

/*请求发送文件*/
.filesend
{
	border: 1px solid #BB60FF;
	margin-bottom: 10px;
	background-color: #fff;
}

.filesend h5
{
	font-weight: bold;
	font-size: 12px;
	padding: 6px 10px 6px 10px;
	background-color: #DFB5FF;
	color: #6B00B9;
	margin: 0px;
}

.filesend .list
{
	padding: 5px;
}

.filesend .list table
{
	width: 100%;
	border-collapse: collapse;
}

.filesend .list table th
{
	border-bottom: 1px solid #BB60FF;
	border-right: 1px solid #BB60FF;
	text-align: center;
	padding: 3px;
}

.filesend .list table td
{
	border-bottom: 1px dashed #BB60FF;
	border-right: 1px dashed #BB60FF;
	text-align: center;
	padding: 5px;
}

.filesend .list table td.state, .filesend .list table td.usedtime, .filesend .list table td.resttime, .filesend .list table td.sizetotal, .filesend .list table td.sizesend
{
	width: 14%;
}

.filesend .list table td.filenum, .filesend .list table td.speed, .filesend .list table td.percentage
{
	width: 14%;
}

.filesend .list table td.filename
{
	padding: 0px;
	position: relative;
	vertical-align: middle;
	text-align: left;
	padding-top:5px;
}

.filesend .list table td.filename div
{
	position: absolute;
	border: 1px solid #BB60FF;
	background-color: #F6EAFF;
	height: 98%;
	top:0px;
}

.filesend .list table td.filename p
{
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 3px;
	background-color: Transparent;
	font-weight: bold;
}

.filesend p
{
	background-color: #F6EAFF;
	margin: 0px;
	padding: 5px;
}

.filesend input
{
	background-color: #F6EAFF;
	border: 1px solid #A375FF;
	margin: 0px;
	padding: 1px;
}

/*收到文件*/
.fileAttach
{
	border: 1px solid #7344C4;
	background-color: #fff;
	margin-bottom: 10px;
}

.fileAttach h5
{
	font-weight: bold;
	font-size: 12px;
	padding: 6px 10px 6px 10px;
	background-color: #7344C4;
	color: #FFF;
	margin: 0px;
}

.fileAttach table
{
	margin: 5px;
	width: 98%;
	margin:auto;
}

.fileAttach table td, .fileAttach table th
{
	border-bottom: 1px solid #B8B7EC;
	padding: 5px;
	border-collapse: collapse;
}

.fileAttach table th
{
	font-weight: bold;
}

.fileAttach .idx {width:40px;}
.fileAttach .filename {width:auto;}
.fileAttach .size {width:80px;}
.fileAttach .location {width:200px;}

.fileAttach table input
{
	border:1px solid #9A9AE2;
	background-color:#E7E6F8;
}

.fileAttach table input.pathtxt
{
	width:165px;
	padding:2px;
}

.fileAttach table input.browser
{
	height:20px;
	width:25px;
}

.fileAttach p
{
	background-color: #DACDF2;
	color: #7344C4;
	margin: 0;
	padding: 4px;
}

.fileAttach p input
{
	border: none;
	background-color: #7344C4;
	color: #fff;
	margin-left:5px;
}

/*接收文件进度条*/
.filerecv
{
	border: 1px solid #6690FF;
	margin-bottom: 10px;
	background-color: #fff;
}

.filerecv h5
{
	font-weight: bold;
	font-size: 12px;
	padding: 6px 10px 6px 10px;
	background-color: #C6D5FF;
	color: #1A58FF;
	margin: 0px;
}

.filerecv .list
{
	padding: 5px;
}

.filerecv .list table
{
	width: 100%;
	border-collapse: collapse;
}

.filerecv .list table th
{
	border-bottom: 1px solid #6690FF;
	border-right: 1px solid #6690FF;
	text-align: center;
	padding: 3px;
}

.filerecv .list table td
{
	border-bottom: 1px dashed #6690FF;
	border-right: 1px dashed #6690FF;
	text-align: center;
	padding: 5px;
}

.filerecv .list table td.state,
.filerecv .list table td.usedtime,
.filerecv .list table td.resttime,
.filerecv .list table td.sizetotal,
.filerecv .list table td.sizesend
{
	width: 14%;
}

.filerecv .list table td.filenum,
.filerecv .list table td.speed,
.filerecv .list table td.percentage
{
	width: 14%;
}

.filerecv .list table td.filename
{
	padding: 0px;
	position: relative;
	vertical-align: middle;
	text-align: left;
	padding-top:5px;
}

.filerecv .list table td.filename div
{
	position: absolute;
	border: 1px solid #6690FF;
	background-color: #BBCEFF;
	height: 98%;
	top:0px;
}

.filerecv .list table td.filename p
{
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 3px;
	background-color: Transparent;
	font-weight: bold;
}

.filerecv p
{
	background-color: #C6D5FF;
	margin: 0px;
	padding: 5px;
}

.filerecv input
{
	background-color: #F6EAFF;
	border: 1px solid #6690FF;
	margin: 0px;
	padding: 1px;
}
